
  {% extends 'base.html'%}

   {% block main%}

<div>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample08" aria-controls="navbarsExample08" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse justify-content-md-center" id="navbarsExample08">
       <ul class="navbar-nav">


                 <li class="nav-item active">
                    <a class="nav-link" href="http://cleomarpro.pythonanywhere.com/cor/home/?#">HOME<span class="sr-only">(current)</span></a>
                  </li>

                  <li class="nav-item active">
                     <a class="nav-link" href="http://cleomarpro.pythonanywhere.com/cor/gastosExrtas/">Gastos Diários<span class="sr-only">(current)</span></a>
                  </li>

                     <li class="nav-item active">
                    <a class="nav-link" href="http://cleomarpro.pythonanywhere.com/cor/vendas/?#">Iniciar o caixa <span class="sr-only">(current)</span></a>
                  </li>

                     <li class="nav-item active">
                    <a class="nav-link" href="http://cleomarpro.pythonanywhere.com/cor/cliente/">Novo Cliente <span class="sr-only">(current)</span></a>
                  </li>


                  <li class="nav-item active">
                    <a class="nav-link" href="http://cleomarpro.pythonanywhere.com/cor/produto/?#">Mais<span class="sr-only">(current)</span></a>
                  </li>

                  <li class="nav-item active">
                    <a class="nav-link" href="#">Ajuda<span class="sr-only">(current)</span></a>
                  </li>

                  <li class="nav-item active">
                    <a class="nav-link" href="#">Sair<span class="sr-only">(current)</span></a>
                  </li>

            </ul>
        </div>
    </div>
</nav>




  <div class= 'div_form'>

    <form class= 'formulario' action="{% url 'cor_cliente_novo' %}" method="POST">
      <h2 class='titulo_h2'>Novo Cliente</h2>

        {% csrf_token%}
        {{form.as_p}}

        <button type="submit">Cadastrar</button>
    </form>

</div>

<p>

</p>


     <div class= 'divTb'>

        <table class="table">
            <thead class="thead-dark">
                <tr>
            		<th> ID</th>
            		<th> Nome </th>
            		<th> Endereço </th>
            		<th> Telefone </th>
            		<th> Data de Nascimento </th>
            		<th> E-mail </th>
            		<th> CPF </th>
            		<th> Sexo </th>
                </tr>
        	</thead>

            <tbody>

              {%for cliente in cliente %}
                  <td> {{cliente.id}} </td>
                  <td> <a href={% url 'cor_cliente_update' cliente.id %}>{{cliente.nome}} </a> </td>
                  <td> {{cliente.endereco}} </td>
                  <td> {{cliente.telefone}} </td>
                  <td> {{cliente.data_de_Nacimento}}</td>
                  <td> {{cliente.email}} </td>
                  <td> {{cliente.CPF}} </td>
                  <td> {{cliente.sexo}} </td>
            </tbody>

                {% empty %}

                 <li>Sem itens na lista.</li>

                {%endfor%}
      </table>
    </div>
</div>



{% endblock %}