{% extends 'base.html'%}

   {% block main%}

<div >
     <!-- meunur superior -->


<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample08" aria-controls="navbarsExample08" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse justify-content-md-center" id="navbarsExample08">



       <ul class="navbar-nav">
              <li class="nav-item active">
                <a class="nav-link" href="http://cleomarpro.pythonanywhere.com/cor/home/?#"> VOLTAR <span class="sr-only">(current)</span></a>
              </li>

                <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="dropdown08" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Relátorio</a>
                <div class="dropdown-menu" aria-labelledby="dropdown08">
                  <a class="dropdown-item" href="#">Vendas</a>
                  <a class="dropdown-item" href="#">Gasto diário</a>
                  <a class="dropdown-item" href="#">Contas a pagar</a>
                  <a class="dropdown-item" href="#">Contas a receber</a>
              </li>

              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="dropdown08" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Novo</a>
                <div class="dropdown-menu" aria-labelledby="dropdown08">
                 <a class="dropdown-item" href="http://cleomarpro.pythonanywhere.com/cor/produto/?#">Novo Produto</a>
                 <a class="dropdown-item" href="http://cleomarpro.pythonanywhere.com/cor/fornecedors/?#">Novo Fornecedor</a>
                  <a class="dropdown-item" href="http://cleomarpro.pythonanywhere.com/cor/entradamercadoria/?">Entrada de Mercadoria</a>
             </li>

              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="dropdown08" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Listar</a>
                <div class="dropdown-menu" aria-labelledby="dropdown08">
                  <a class="dropdown-item" href="http://cleomarpro.pythonanywhere.com/cor/listarprodutos/?#">Produtos</a>
                  <a class="dropdown-item" href="http://cleomarpro.pythonanywhere.com/cor/listarfornecedor/?#">Fornecedor</a>
                  <a class="dropdown-item" href="http://cleomarpro.pythonanywhere.com/cor/listarentradamercadoria/?#">Entrada de Mercadoria</a>
              </li>



                   <li class="nav-item active">
                <a class="nav-link" href="#">Ajuda<span class="sr-only">(current)</span></a>
              </li>

              <li class="nav-item active">
                <a class="nav-link" href="#">Sair<span class="sr-only">(current)</span></a>
              </li>

        </div>
      </li>
    </ul>
  </div>
</nav>


<p>

</p>


<!-- tabela -->
    <div class= 'divTb'></div>
        <table class="table">
            <thead class="thead-dark">
                <tr>
            		<th> ID</th>
            		<th> Produto </th>
            		<th> Fornecedor </th>
            		<th> Valor </th>
            		<th> Quantidade </th>
            		<th> Data Hora</th>
                 </tr>
        	</thead>


            <tbody>
                 {%for entradamercadoria in entradamercadoria %}
                  <td> {{fornecedors.id}} </td>
                  <td> <a href={% url 'cor_entradamercadoria_update' entradamercadoria.id %}>{{entradamercadoria.produto}} </a> </td>
                  <td> {{entradamercadoria.fornecedor}} </td>
                  <td> {{entradamercadoria.valor}} </td>
                  <td> {{entradamercadoria.quantidade}} </td>
                  <td> {{entradamercadoria.dataHora}} </td>

            </tbody>
                {% empty %}
                        <li>Sem itens na lista.</li>
                {%endfor%}
      </table>
    </div>
</div>

{% endblock %}